[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=sergeylubimov
Group=sergeylubimov

WorkingDirectory=/home/sergeylubimov/bug-free-octo-eureka/
Environment="PYTHONPATH=/home/sergeylubimov/bug-free-octo-eureka/"
ExecStart=/home/sergeylubimov/bug-free-octo-eureka/.venv/bin/python /home/sergeylubimov/bug-free-octo-eureka/1234.py

[Install]
WantedBy=multi-user.target
